‎ADMIN_PASSWORD=admin123
‎ADMIN_TELEGRAM_ID=555508978
‎ADMIN_USERNAME=admin
‎API_URL=https://m-bingo-backend.onrender.com
‎BOT_TOKEN=8312462723:AAGaP2A-nYNyXamnQ2nDT8R_L557csuINos
‎BOT_USERNAME=M_bingo_bot
‎DB_HOST=dpg-d9qukqn10e5c73a69uf0-a.oregon-postgres.render.com
‎DB_NAME=mbingo
‎DB_PASSWORD=0fbeIZrkqTXfJBx0uwht1LSfvy3o9bPm
‎DB_PORT=5432
‎DB_USER=mbingodb_9ojw_user
‎GAME_URL=https://m-bingo-frontend.onrender.com
‎CORS_ORIGIN=https://m-bingo-frontend.onrender.com
‎
